<html>

<head>
    <meta charset="utf-8">

    <script type="text/javascript">

        var test = function init() {
            var el = document.getElementById('test');
            el.addEventListener('click', function (event) {
                console.log(event.type + ' got fired')
//	            document.myForm.submit();
            })
        };

        function ready(fn) {
            if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
                fn();
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }

        ready(test);

        window.onload = function() {
            console.log('onload 1');
        }

        function onChangeItemType(el, type) {
            window.location.href = 'http://localhost/finance?item_type=' + type;
        }
    </script>

</head>

<body>
<h1>＊＊：<?php echo $str; ?></h1>

<form action="finance" name="inputForm" method="POST">
<table style="width: 100%;border: outset 10px;}">
    <caption>入力フォーム</caption>
    <tbody>
        <tr>
            <th colspan="1" rowspan="1" style="width:15%;" class="input_ico">収支</th>
            <td colspan="3" rowspan="1">
                <?php if($item_type == 'input') { ?>
                    <input type="radio" id="type1" name="contents:form:type" value="1" title="支出" onChange="onChangeItemType(this, 'output')">
                <?php } else { ?>
                    <input type="radio" id="type1" name="contents:form:type" checked="checked" value="1" title="支出" onChange="onChangeItemType(this, 'output')">
                <?php } ?>

                <label for="type1">支出</label>
                <br clear="none">

                <?php if($item_type == 'input') { ?>
                    <input type="radio" id="type2" name="contents:form:type" checked="checked" value="2" title="収入" onChange="onChangeItemType(this, 'input')">
                <?php } else { ?>
                    <input type="radio" id="type2" name="contents:form:type" value="2" title="収入" onChange="onChangeItemType(this, 'input')">
                <?php } ?>

                <label for="type2">収入</label>
                <br clear="none">
            </td>
        </tr>
        <tr>
            <th colspan="1" rowspan="1">
                <div>日付</div>
            </th>
            <td colspan="3" rowspan="1">
                <input type="date" id="date" name="contents:form:date" title="日付" maxlength="10" size="10">
            </td>
        </tr>
        <tr>
            <th colspan="1" rowspan="1">
                <div class="input_ico_must">項目</div>
            </th>
            <td colspan="1" rowspan="1" width="33%">
                <select id="categoryID" name="contents:form:categoryID" size="10" class="flat" title="項目" style="width:210px">
                    <?php
                        foreach($items as $key => $value) {
                          echo '<option value="' . $key . '">' . $value . '</option>';
                        }
                    ?>
                </select>
            </td>
        </tr>
        <tr id="productFrame" class="">
            <th colspan="1" rowspan="1" id="productLabel" class="input_ico">品目</th>
            <td colspan="3" rowspan="1"><input type="text" id="product" name="contents:form:product" value="" title="商品名" maxlength="100" size="50" autocomplete="off">
            </td>
        </tr>
        <tr>
            <th colspan="1" rowspan="1">
                <div class="input_ico_must">金額</div>
            </th>
            <td colspan="3" rowspan="1">
                <input type="text" id="amount" name="contents:form:amount" value="" title="金額" maxlength="11" size="12">
            </td>
        <tr>
            <th colspan="1" rowspan="1" style="width:15%;" class=""></th>
            <td colspan="3" rowspan="1">
                <button type='submit' id="test">登録</button>
            </td>
        </tr>
    </tbody>
</table>
</form>


<table style="width: 100%;border: outset 10px;margin-top:100px;">
<tbody>
    <caption>履歴</caption>
    <?php
        foreach($current as $key => $value) {
            echo '
                <tr>
                <th>'. $value[1] .'</th>
                <td>'. $value[0] .'</td>
                <td>'. $value[2] .'</td>
                <td>'. $value[3] .'</td>
                <td>'. $value[4] .'</td>
                </tr>
            ';
        }
    ?>
</tbody>
</table>

<form action="finance" name="aggregateForm" method="GET" style="margin-top: 100px;">
    <span>集計</span>
    <input type="date" id="start_date" value="<?php echo $start_date; ?>" name="contents:form:start_date" title="日付" maxlength="10" size="10">
    <input type="date" id="end_date" value="<?php echo $end_date; ?>" name="contents:form:end_date" title="日付" maxlength="10" size="10">
    <button type='submit' id="execute">実行</button>
    <div>
        合計：<?php echo $sum; ?>円
    </div>
</form>

</body>
</html>